In [15]:
import pandas as pd
import plotly.express as px
import warnings 
from internproject.constants import ROOT_DATA_DIR

add_lp = pd.read_parquet(ROOT_DATA_DIR / "stETH_ETH_add_lp.parquet")  # more details on the add liquidity events
remove_lp = pd.read_parquet(
    ROOT_DATA_DIR / "stETH_ETH_remove_lp.parquet"
)  # more details on the remove liquidity events
lp_transfers = pd.read_parquet(ROOT_DATA_DIR / "stETH_ETH_lp_transfers.parquet")

zapper_address = '0x271fbE8aB7f1fB262f81C77Ea5303F03DA9d3d6A'

null_address = "0x0000000000000000000000000000000000000000"
add_liquidity_transfers = lp_transfers[lp_transfers["from"] == null_address].copy()
withdraw_liquidity_transfers = lp_transfers[lp_transfers["to"] == null_address].copy()

add_liquidity_transfers['user'] = add_liquidity_transfers['to']
withdraw_liquidity_transfers['user'] = withdraw_liquidity_transfers['from']
withdraw_liquidity_transfers['value'] = withdraw_liquidity_transfers['value']* -1
transfer_df = pd.concat([add_liquidity_transfers, withdraw_liquidity_transfers])


# you can't check for cumsol_col for negatives because the qunaity of lp tokens in the stETH:ETH pool increases 
# because of the stETH rebasing
# This a a quirk of the curve stETH:ETH because of the stETH rebasing
# instead you look for users that have withdrawn liquidity BEFORE they have entered. 
# or have withdrawn but never have entered
# Cumulative sum of lp transfers will work for identifying whales but know that it could be ~5% off.

,from,to,value,event,block,transaction_index,log_index,hash,timestamp,user,cumsol_col
timestamp,,,,,,,,,,,
2021-01-05 00:26:18,0x0000000000000000000000000000000000000000,0x7EeAC6CDdbd1D0B8aF061742D41877D7F707289a,0.000000,Transfer,11591275,88,148,0x4fdd5de055a85451535ae48f21353f922554d9416903...,2021-01-05 00:26:18,0x7EeAC6CDdbd1D0B8aF061742D41877D7F707289a,0.000000
2021-01-05 11:26:21,0x0000000000000000000000000000000000000000,0x6ab615CF8deCFc488186E54066Fc10589C9293A3,0.160000,Transfer,11594223,141,250,0x16d97e10e582735b4731aaec2823f781edb3355fa9b2...,2021-01-05 11:26:21,0x6ab615CF8deCFc488186E54066Fc10589C9293A3,0.160000
2021-01-05 13:35:18,0x0000000000000000000000000000000000000000,0xc43Db41AA6649DddA4ef0Ef20FD4F16BE43144f7,69.999492,Transfer,11594829,94,97,0x8eca09399384c600131f1f9e1d931246e9129f2e1e11...,2021-01-05 13:35:18,0xc43Db41AA6649DddA4ef0Ef20FD4F16BE43144f7,69.999492
2021-01-05 13:48:47,0x0000000000000000000000000000000000000000,0xc43Db41AA6649DddA4ef0Ef20FD4F16BE43144f7,1999.989998,Transfer,11594889,122,123,0x6c6cb813a1cfee7cb6bb241b74a961ede8b70eed5ae3...,2021-01-05 13:48:47,0xc43Db41AA6649DddA4ef0Ef20FD4F16BE43144f7,2069.989490
2021-01-05 14:32:47,0x0000000000000000000000000000000000000000,0xb084F0AdB86BF6B001E540Ac05439D98A499ce1D,0.999754,Transfer,11595091,101,132,0xa3ffd6f2c890037b38c11d64e34e991fa1f31318e873...,2021-01-05 14:32:47,0xb084F0AdB86BF6B001E540Ac05439D98A499ce1D,0.999754
...,...,...,...,...,...,...,...,...,...,...,...
2023-06-20 22:31:59,0x0000000000000000000000000000000000000000,0x5aD15EBa9D4E9351414084Eb1dd1EACc2068A4A7,51.167100,Transfer,17523890,48,92,0xd832e4bcce6354ead8e76a140b3ba3066cf81b2955da...,2023-06-20 22:31:59,0x5aD15EBa9D4E9351414084Eb1dd1EACc2068A4A7,51.167100
2023-06-20 22:33:11,0x46D5F548E02fdee3ea7E4168B7cF896429fE6fe7,0x0000000000000000000000000000000000000000,-65.033669,Transfer,17523896,78,240,0x113260903e90d948871a8a0af2f03156c17781a455ea...,2023-06-20 22:33:11,0x46D5F548E02fdee3ea7E4168B7cF896429fE6fe7,0.000000
2023-06-20 22:40:35,0x5aD15EBa9D4E9351414084Eb1dd1EACc2068A4A7,0x0000000000000000000000000000000000000000,-51.167100,Transfer,17523933,42,101,0x39af71a3003ae573c6739b9679bede548ea7cc53a6b0...,2023-06-20 22:40:35,0x5aD15EBa9D4E9351414084Eb1dd1EACc2068A4A7,0.000000
2023-06-20 23:28:11,0xEa508F82728927454bd3ce853171b0e2705880D4,0x0000000000000000000000000000000000000000,-0.000000,Transfer,17524170,11,109,0xb9976966cfd8d84cbeeaec9cd79f19db46fe22b9ec72...,2023-06-20 23:28:11,0xEa508F82728927454bd3ce853171b0e2705880D4,0.000000
2023-06-21 00:00:11,0xFcF409263A5B4d51a658241d7cf78405FAFB0A4E,0x0000000000000000000000000000000000000000,-0.003230,Transfer,17524329,349,328,0xfa9e275dc3d9f53a90c0c817cb16fa6f328acb696b49...,2023-06-21 00:00:11,0xFcF409263A5B4d51a658241d7cf78405FAFB0A4E,363.236035

In [56]:
users_first_add = transfer_df[transfer_df['value'] > 0].groupby('user')[['timestamp']].min()
users_first_add.columns = ['date_added']
users_first_remove = transfer_df[transfer_df['value'] < 0].groupby('user')[['timestamp']].min()
users_first_remove.columns = ['date_removed']
users_df = users_first_add.join(users_first_remove, how='outer')
users_df['date_removed'] = users_df['date_removed'].fillna(pd.to_datetime('2050-01-01')) # far in the future
users_df

,date_added,date_removed
user,,
0x0000000000117D8C0c6103ecA077462224723192,NaT,2022-09-17 07:09:47
0x000000000037D42ab4e2226CE6f44C5dC0Cf5b16,NaT,2022-05-15 00:02:54
0x00000000245A821a3e646b8187636AD09Cd9cCB0,NaT,2022-10-16 19:37:59
0x000000003fBC5761A6849dC46d6C292c7B01e894,NaT,2023-06-01 10:00:59
0x0000000090E2bA937F0b5615b57409a8A6a1D6Dd,2021-08-15 14:08:51,2021-08-15 14:47:39
...,...,...
0xff879CA9C84D976dB7E0180436e3a689eD70E1D2,2022-11-27 02:36:23,2050-01-01 00:00:00
0xff8a51f0dE0166672a2f77f0213e6D814c28E36C,2021-06-29 23:09:22,2021-06-29 22:51:41
0xff9A717FCF03318485579c4b553820eDf73aDf0A,2021-09-15 02:57:16,2021-11-05 08:17:51
0xffA959E7F5a394ACdbBf263D22B0FdbB0C1d1157,2022-03-17 07:57:26,2022-04-15 22:51:18
0xffBca20c7Cd502e10C0aC80c4e2b4542938bfFA6,2022-11-30 06:55:35,2050-01-01 00:00:00

In [71]:
users_who_never_added = users_df[users_df['date_added'].isna()].index
users_who_removed_before_they_added = users_df[users_df['date_added'] > users_df['date_removed']].index
len(users_who_never_added), len(users_who_removed_before_they_added)

(1298, 114)

In [75]:
transfer_df[transfer_df['user'] == users_who_never_added[0]][['from', 'to', 'value']]
# They never added but did withdraw, best guess is the used zapper

,from,to,value
timestamp,,,
2022-09-17 07:09:47,0x0000000000117D8C0c6103ecA077462224723192,0x0000000000000000000000000000000000000000,-0.308512

In [76]:
transfer_df[transfer_df['user'] == users_who_removed_before_they_added[0]][['from', 'to', 'value']]
# this person removed before they added, best guess is they used the zapper

,from,to,value
timestamp,,,
2022-06-20 13:20:23,0x01e6fd0aE73D9194b19f9B376065577927A0D5f5,0x0000000000000000000000000000000000000000,-20.314335
2022-11-06 05:49:35,0x0000000000000000000000000000000000000000,0x01e6fd0aE73D9194b19f9B376065577927A0D5f5,20.789995

For you analysis you can exclude `users_first_add` and `users_who_never_added`. That will miss some people who used a the zapper and also the normal method but it should be good enough for now.